
nbactions.xml

*.war

*.dpf

*.class

*.jar

target/WebapisClient-1.0-SNAPSHOT/META-INF/context.xml

target/WebapisClient-1.0-SNAPSHOT/WEB-INF/classes/.netbeans_automatic_build

target/WebapisClient-1.0-SNAPSHOT/WEB-INF/classes/client.apis.properties

target/WebapisClient-1.0-SNAPSHOT/WEB-INF/classes/log4j.properties

target/WebapisClient-1.0-SNAPSHOT/WEB-INF/classes/webapis.properties

target/WebapisClient-1.0-SNAPSHOT/WEB-INF/web.xml

target/WebapisClient-1.0-SNAPSHOT/addEmployee.jsp

target/WebapisClient-1.0-SNAPSHOT/error.jsp

target/WebapisClient-1.0-SNAPSHOT/options.jsp

target/WebapisClient-1.0-SNAPSHOT/style.css

target/WebapisClient-1.0-SNAPSHOT/toonzoekresultaat.jsp

target/WebapisClient-1.0-SNAPSHOT/zoekmedewerker.jsp

target/WebapisClient-1.0-SNAPSHOT/zoekstudent.jsp

target/classes/.netbeans_automatic_build

target/classes/client.apis.properties

target/classes/log4j.properties

target/classes/webapis.properties

target/maven-archiver/pom.properties
